In [ ]:
#Questions & Solutions:

In [73]:
#Question1: Print the pattern
# ineuron
# ineuron ineuron
# ineuron ineuron ineuron
# ineuron ineuron ineuron ineuron

# number of rows
n=4
for i in range(0,n):
    for j in range(0, i + 1):
        print("ineuron", end=' ')
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [74]:
#Question2: Print the pattern
#                ineuron
#         ineuron       ineuron
#  ineuron       ineuron       ineuron
#         ineuron       ineuron
#                ineuron

rows = 2
k = 2 * rows - 2
for i in range(0, rows):
    for j in range(0, k):
        print(end="   ")
    k = k - 1
    for j in range(0, i + 1):
        print("ineuron ", end=" ")
    print("\n")
    
k = rows - 2

for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end="    ")
    k = k + 1
    for j in range(0, i + 1):
        print("ineuron ", end=" ")
    print("\n")

      ineuron

   ineuron  ineuron

ineuron  ineuron  ineuron

    ineuron  ineuron

        ineuron

In [1]:
#Question3: Try to extract all the list entities
# Check the collection below

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

for i in l:
    if type(i)==list:
        print(i)
#         for j in i:
#             print(j)

[1, 2, 3, 4]
['ineuron', 'datascience']

In [76]:
#Question4: Try to extract all the dict entries

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

for i in l:
    if type(i)==dict:
        for j in i:
            print(j)

k1
k2
k3
3
7

In [77]:
#Question5: Try to extract all the tuple entities

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

for i in l:
    if type(i)==tuple:
        for j in i:
            print(j)

2
3
4
5
6
3
4
5
6
7

In [78]:
#Question6: Try to extract all the numerical data, it may be part of dict key and value as well

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

l1=[]
l2=[]

for i in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if type(j)==int:
                l1.append(j)

    if type(i)==set:
        for m in list(set(i)):
            l1.append(m)                
                
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int:
                l1.append(k)
                l1.append(v)
                
print("All the numeric elements:",l1)

All the numeric elements: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [79]:
#Question7: Try to do summation of all the numeric data

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

l1=[]
for i in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if type(j)==int:
                l1.append(j)
        
    if type(i)==dict:
        for k in i.items():
            if type(k)==int:
                l1.append(k)

    if type(i)==set:
        for m in list(set(i)):
            if type(m)==int:
                l1.append(m)

summation=0            
for s in range(0,len(l1)):
    summation=summation+s
print("sum of numbers is:",summation)

sum of numbers is: 153

In [80]:
#Question8: Try to filter out all the odd values out of all the numeric data, which is a part of list

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

l1=[]
l2=[]

for i in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if type(j)==int:
                l1.append(j)
        
    if type(i)==dict:
        for k in i.items():
            if type(k)==int:
                l1.append(k)

    if type(i)==set:
        for m in list(set(i)):
            if type(m)==int:
                l1.append(m)

for o in range(0,len(l1)):
    if (o%2)!=0:
        l2.append(o)

        
print("Collection of integers:",l1)        
print("The list of odd numbers:",l2)

Collection of integers: [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23]
The list of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17]

In [81]:
#Question9: Try to extract "ineuron" out of this data

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]
str = "ineuron"


for i in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            if j=="ineuron":
                print(j,type(k))
                
    if type(i)==dict:
        for k in i.items():
            if k=="ineuron":
                print(k,type(k))
        for v in i.values():
            if v=="ineuron":
                print(v, type(v))

ineuron <class 'str'>
ineuron <class 'tuple'>

In [2]:
#Question10: Try to find out all the occurences of all the data

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

l1=[]

for i in l:
    if type(i)==list or type(i)==tuple:
        for j in i:
            l1.append(j)

    if type(i)==set:
        for m in list(set(i)):
            l1.append(m)                        
            
    if type(i)==dict:
        for k,v in i.items():
            l1.append(k)
            l1.append(v)
            
                
print("All the elements in the given list:","\n",l)                
print("All the elements in the collection:","\n",l1)  

for c in set(l1):
    print("Occurence of",c,"is",l1.count(c))

All the elements in the given list:
 [[1, 2, 3, 4], (2, 3, 4, 5, 6), (3, 4, 5, 6, 7), {45, 4, 5, 23}, {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, ['ineuron', 'datascience']]
All the elements in the collection:
 [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'datascience']
Occurence of datascience is 1
Occurence of 1 is 1
Occurence of 2 is 2
Occurence of 3 is 4
Occurence of 4 is 4
Occurence of 5 is 3
Occurence of 6 is 3
Occurence of 7 is 2
Occurence of k3 is 1
Occurence of k2 is 1
Occurence of sudh is 1
Occurence of 8 is 1
Occurence of k1 is 1
Occurence of 45 is 1
Occurence of ineuron is 2
Occurence of kumar is 1
Occurence of 23 is 1

In [83]:
#Question11: Try to find out number of keys in dict element

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]
l1=[]

for i in l:
    if type(i)==dict:
        for j in i:
            l1.append(j)
            
print("Number of keys in Dictionary are:",len(l1))

Number of keys in Dictionary are: 5

In [84]:
#Question12: Try to filter out all the string data

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

l1=[]

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            if type(j) == str:
                l1.append(j)
                
            if type(i) == dict:
                for k, v in i.items():
                    if type(k) == str or type(v) == str:
                        l1.append(k)
                        l1.append(v)
                
for i in l1:        
print("Elements with string data type in the collection are:",l1)

Elements with string data type in the collection are: []

In [85]:
#Question13: Try to find out alphanum in data

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

l1=[]
l2=[]

for i in l:            
    if type(i)==dict:
        for k in i.items():
            l1.append(k)
            
for i in l1:
    for j in i:
        if type(j)!=int:
            l2.append(j)
            
for a in l2:
    if a.isalnum():
        print("Alphanumeric elements are:",a)

Alphanumeric elements are: k1
Alphanumeric elements are: sudh
Alphanumeric elements are: k2
Alphanumeric elements are: ineuron
Alphanumeric elements are: k3
Alphanumeric elements are: kumar

In [86]:
#Question14: Try to find out multiplication of all the individual collection inside dataset

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

l1=l[0]
l2=l[1]
l3=l[2]
s1=list(l[3])

a=1
b=1
c=1
d=1

l1_mul=[]
l2_mul=[]
l3_mul=[]
s1_mul=[]

#Multiplication of elements inside l[0]
for i in l1:
    a=a*i
l1_mul.append(a)

#Multiplication of elements inside l[1]
for j in l2:
    b=b*j
l2_mul.append(b)

#Multiplication of elements inside l[2]
for k in l3:
    c=c*k
l3_mul.append(c)

#Multiplication of elements inside l[3]
for l in s1:
    d=d*l
s1_mul.append(d)


print("Multiplication of elements in list l[0]:",l1_mul)
print("Multiplication of elements in list l[1]:",l2_mul)
print("Multiplication of elements in list l[2]:",l3_mul)
print("Multiplication of elements in list l[3]:",s1_mul)

Multiplication of elements in list l[0]: [24]
Multiplication of elements in list l[1]: [720]
Multiplication of elements in list l[2]: [2520]
Multiplication of elements in list l[3]: [20700]

In [4]:
#Question15: Try to unwrap all the collection inside collection and create a flat list

l = [[1,2,3,4],(2,3,4,5,6),(3,4,5,6,7),set([23,4,5,45,4,4,5,45,45,4,5]),{"k1":"sudh","k2":"ineuron","k3":"kumar",3:6,7:8},["ineuron","datascience"]]

l1 = []

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set:
        for j in i:
            l1.append(j)

    if type(i) == dict:
        for k,v in i.items():
            l1.append(k)
            l1.append(v)

print("Unwrapped all the elements in the collection to new flat list:", "\n", l1)

Unwrapped all the elements in the collection to new flat list:
 [1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'datascience']